.navbar{
  background-color: white;
  display: flex;
  align-items: center ;
  justify-content: space-between;
  flex-wrap:wrap;
  padding: 1rem;
  position:relative;
  border-bottom: 3px solid rgb(206, 211, 54);
  border-top: 3px solid rgb(206, 211, 54);
}
.navbar .logo{
  width: 100px;
  height: 100px;
  display: flex ;
}
.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}
.menu{
  display: flex;
 gap: 1rem;
  list-style: none;
}
 .menu li:hover{
  cursor:e-resize ;
  border-bottom: 3px solid rgb(206, 211, 54)      ;
 }

.menu .category{
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 20px;
}
.menu li{
 padding: 0.5rem 0;
  
}
.navbar .cart-widget {
  display: flex;
  align-items: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px; /* debajo de la navbar */
    left: 0;
    background-color: #f2f2f2;
    padding: 1rem;
    z-index: 1000;
  }

  .menu.open {
    display: flex;
  }

  .cart-widget {
    order: 3;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  .logo-link {
    order: 1;
  }

  .menu-toggle {
    order: 2;
  }
}